- content_for :head do
  %meta{ name: "user_id", content: current_user.id }

- content_for :content do
  .container
    %h1 Welcome to the dummy app!

    %p Here you can see how groups work

    = yield

= render template: "layouts/application"